*.php linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=false
*.sql linguist-detectable=true
*.css linguist-detectable=true
*.hh linguist-detectable=false
*.hack linguist-detectable=false
* linguist-vendored
*.hh linguist-vendored=false
*.hack linguist-vendored=false