body, html {
    overflow-y: hidden;
}

.main-content {
    height: 1500px;
    overflow: scroll;
}

.dashboard {
    height: 100vh;
}

.fixed-side {
    position: fixed;
}

.empty-page {
    height: 1500px;
}