// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Import fonts here

// Variables
$admin-body-bg: #343d46;
$admin-text-light-color: #fff;

// 
.admin-body {
    height: 100vh;
    width: 100vw;
    background-color: $admin-body-bg;
    color: $admin-text-light-color;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}