/*
####################################################
M O D I F I E D  B O O T S T R A P  C L A S S E S
####################################################
*/

/*
####################################################
B O O T S T R A P  B U T T O N S
####################################################
*/
.btn {
	border-radius: 0;
	border: none;
	text-transform: uppercase;
	/*font-size: 1em;*/
	/*padding: .85em 2em;*/
	background-color: rgba(0,0,0,0);
}

.btn-sm-text {
	font-size: .9em;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active:focus
.btn-primary:visited:active { 
	background-color: #71100f !important; 
	box-shadow: none; 
	border: none;
}

.btn-primary:hover,
.btn-primary:visited:hover { 
	background-color: #5a0d0c !important; 
	box-shadow: none; 
	border: none;
}

.btn-alt,
.btn-alt:focus,
.btn-alt:active:focus
.btn-alt:visited:active {
	color: #fff;
	background-color: #555;
	box-shadow: none;
	border: none;
}

.btn-alt:hover,
.btn-alt:visited:hover {
	background-color: #333;
	box-shadow: none;
	border: none;
	color: #fff;
}

.btn-group.special {
	display: flex;
}

.text-link,
.text-link:focus,
.text-link:active:focus,
.text-link:visited:active {
	color: #71100F;
}

.text-link:hover,
.text-link:visited:hover {
	color: #5a0d0c;
	text-decoration: none;
}

.table-link:hover {
	text-decoration: underline !important;
}

.special .btn {
	flex: 1
}

.btn-link-alt,
.btn-link-alt:focus,
.btn-link-alt:active:focus,
.btn-link-alt:visited:active {
	background-color: transparent;
	border: none;
	outline: none;
}

.btn-link-alt:hover {
	cursor: pointer;
	border: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.status-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.status-slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}

input:checked + .status-slider {
	background-color: #2196F3;
}

input:focus + .status-slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .status-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

#manager-list .table td,
#employee-list .table td {
	word-break: break-word;
	vertical-align: middle;
	max-width: 148px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

body {
	font-family: 'Oswald', sans-serif;
}

.primary-text-color { color: #71100f; }

.welcome-link:hover { text-decoration: underline; }

.fit-viewport {
	height: 100vh;
	width: 100vw;
}

.welcome-bg {
	background: url(../img/layout/welcome.jpg) center center no-repeat fixed;
	background-size: cover;
	background-color: #464646;
}

.overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.welcome-title {
	color: #fff;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 5em;
	letter-spacing: 0.1em;
	font-family: 'Oswald', sans-serif;
}

.admin-form-wrap {
	width: 100%;
}

#home-nav {
	background-color: #71100f;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	/*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
	background-image: url('/delectable/public_html/assets/img/layout/welcome.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.navbar-brand {
	background-color: transparent !important;
	box-shadow: none !important;
}

.subheader-border {
	border-bottom: 3px solid #71100F;
}

.emp-profile-modal-img {
	display: block;
	max-width: 150px;
	max-height: 150px;
	width: auto;
	height: auto;
}

.emp-profile-img {
	display: block;
	max-width: 350px;
	max-height: 350px;
	width: auto;
	height: auto;
}

.overflow-x {
	overflow-x: scroll;
}

/*.overflow-x-fit {
	overflow-x: scroll;
}*/

.label-btn {
	pointer-events: none;
	background-color: #333;
}

.invoice-details {
	/*font-family: 'Helvetica', sans-serif;*/
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.admin-form-wrap {
		width: 300px;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.paragraph-container {
		max-width: 50%;
	}

	.restaurant-edit-form-wrap {
		max-width: 480px;
	}

	.overflow-x {
		overflow-x: hidden;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}